body {
    padding-top: 60px;
}

* {
    font-family: 'Open Sans', sans-serif;
}

.brand-text {
    font-size: 30px !important;
    color: gold !important;
}

.form-group {
    padding-left: 20px;
    padding-right: 20px;
}

.row {
    margin-bottom: 10px;
}

[class *="col-sm-12"] {
    /*background-color: #daf2fe;
    border: 1px solid #000000;*/
    border-top: 1px solid #d3d3d3;
    height: 300px;
}

[class *="col-"]:not(:first-child, :last-child) {
    padding-right: 7px;
    padding-left: 7px;
    background-color: #ff0043;
}

.leftJustified {
    text-align: left;
}

.rightJustified {
    text-align: right;
}

.homepageSubtitle {
    font-weight: bold;
}

.navitems a {
    font-size: 18px;
}

.navitems a:not(:hover) {
    color: white !important;
}

.navitems a:hover {
    color: gold !important;
}